In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys  
import os
from itertools import cycle,product
import import_ipynb
import datetime as dt
import warnings
warnings.filterwarnings('error')
%load_ext autoreload
%autoreload 2
sys.path.insert(0, '../../Demand')
sys.path.insert(0, '../../PV_model/src')
from get_demand import get_demand as dem
import get_pv
import P2P_functions as p2p
import Classes_definition as cp2p
import copy
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [255]:
Data={'community_size':100,
     'timestep':0.25,
     'seed':10,
     'country_code':'DE',
     'pv_penetration':50,
     'batt_penetration':50,
     'retail_price':0.28,
     'export_price':0.04,
     'predet_bhv':False,
     'ILR':1,
     'test_sc':False,
     'cut':'q90',
     'PtC':0.5,# Production to consumption ratio
     }

In [264]:
comNormal=cp2p.SCCommunity(Data)
comNormal.runAll()

######################
Getting demand and PV profiles
insde
----------------------------------
Country: DE
Data resolution: 15.0
Original year: 2010.0
Sample size: 74.0
Average consumption per year: 4685.069393693686
Country: DE
Total generation per year: PV    1535.83138
dtype: float64
Capacity factor: PV    17.53
dtype: float64%
######################
Getting PV distribution
Country: DE
0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899

In [265]:
comP2P=cp2p.P2PCommunity(Data)

######################
Getting demand and PV profiles
insde

In [266]:
comP2P.getPrices(comNormal)
comP2P.getP2PCommunity()
comP2P.endP2P()

----------------------------------
Country: DE
Data resolution: 15.0
Original year: 2010.0
Sample size: 74.0
Average consumption per year: 4685.069393693686
Country: DE
Total generation per year: PV    1535.83138
dtype: float64
Capacity factor: PV    17.53
dtype: float64%
######################
Getting PV distribution
Country: DE
01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980818283848586878889909192939495969798990123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899

In [267]:
pd.concat([comP2P.selection,comNormal.selection],axis=1)

     PV_size name  battery   PV_size name  battery
0   5.200000    9     True  5.200000    9     True
1   9.000000   15     True  9.000000   15     True
2   5.000000   64     True  5.000000   64     True
3   6.000000   28     True  6.000000   28     True
4   9.200000   29     True  9.200000   29     True
5   4.800000    8     True  4.800000    8     True
6   9.200000   73     True  9.200000   73     True
7   7.100000    0     True  7.100000    0     True
8   8.900000   40     True  8.900000   40     True
9   2.000000   36     True  2.000000   36     True
10  3.700000   16     True  3.700000   16     True
11  7.000000   11     True  7.000000   11     True
12  5.300000   54     True  5.300000   54     True
13  9.700000   62     True  9.700000   62     True
14  6.100000   33     True  6.100000   33     True
15  8.000000   72     True  8.000000   72     True
16  7.400000   49     True  7.400000   49     True
17  4.300000   51     True  4.300000   51     True
18  4.200000   54     True  4.200000   54     True
19  1.700000   69     True  1.700000   69     True
20  6.000000   13     True  6.000000   13     True
21  6.500000   25     True  6.500000   25     True
22  9.200000   13     True  9.200000   13     True
23  0.000000   30    False  0.000000   30    False
24  0.000000   30    False  0.000000   30    False
25  0.000000   12    False  0.000000   12    False
26  0.000000   65    False  0.000000   65    False
27  0.000000   31    False  0.000000   31    False
28  0.000000   57    False  0.000000   57    False
29  0.000000   36    False  0.000000   36    False
..       ...  ...      ...       ...  ...      ...
70  0.000000   23    False  0.000000   23    False
71  0.000000    3    False  0.000000    3    False
72  0.000000   29    False  0.000000   29    False
73  0.000000   16    False  0.000000   16    False
74  0.000000   14    False  0.000000   14    False
75  0.000000   51    False  0.000000   51    False
76  0.000000   17    False  0.000000   17    False
77  0.000000   50    False  0.000000   50    False
78  0.000000   53    False  0.000000   53    False
79  0.000000   25    False  0.000000   25    False
80  0.000000   48    False  0.000000   48    False
81  0.000000   17    False  0.000000   17    False
82  0.000000   32    False  0.000000   32    False
83  0.000000   41    False  0.000000   41    False
84  0.000000   12    False  0.000000   12    False
85  0.000000   30    False  0.000000   30    False
86  5.551516   17     True  5.551516   17     True
87  0.000000   16    False  0.000000   16    False
88  0.000000    0    False  0.000000    0    False
89  0.000000   31    False  0.000000   31    False
90  0.000000   73    False  0.000000   73    False
91  0.000000   64    False  0.000000   64    False
92  0.000000   38    False  0.000000   38    False
93  0.000000   22    False  0.000000   22    False
94  0.000000   66    False  0.000000   66    False
95  0.000000   67    False  0.000000   67    False
96  0.000000   62    False  0.000000   62    False
97  0.000000   27    False  0.000000   27    False
98  0.000000   62    False  0.000000   62    False
99  0.000000   48    False  0.000000   48    False

[100 rows x 6 columns]

In [273]:
comP2P.PtC

0.5

In [276]:
comP2P.out['Total_load']/2

231989.6581

In [270]:
comP2P.out

{'SCR': 75.0731305009646,
 'SSR': 37.53656525048227,
 'EFC': None,
 'Demand_peak': 148.27995036985024,
 'Inj_peak': 95.57675323655718,
 'avg_dod': None,
 'Total_load': 463979.3162,
 'TotalPV': 231989.6580999998,
 'bill': 81090.29642951374,
 'Imported': 289817.4174258456,
 'Exported': 37866.598169879486,
 'Batt_revenue': 15311.782465926613,
 'Batt_penetration': 50,
 'PV_penetration': 50,
 'seed': 10,
 'hh': None,
 'EPARI': 3.963978416458449,
 'ADMD': 0.3706998759246256,
 'ADME': 0.23894188309139294,
 'EBI': 0.529168644442366}

In [271]:
comNormal.out

{'SCR': 72.05939895266108,
 'SSR': 36.02969947633051,
 'EFC': None,
 'Demand_peak': 146.05710069900258,
 'Inj_peak': 95.58013249902261,
 'avg_dod': None,
 'Total_load': 463979.3162,
 'TotalPV': 231989.6580999998,
 'bill': 99747.22424487282,
 'Imported': 296808.96294080676,
 'Exported': 46280.04594744931,
 'Batt_revenue': 11648.712704460893,
 'Batt_penetration': 50,
 'PV_penetration': 50,
 'seed': 10,
 'hh': None,
 'EPARI': 3.7292369297087626,
 'ADMD': 0.36514275174750643,
 'ADME': 0.23895033124755652,
 'EBI': 0.5070340466924803}

In [168]:
PtC=1

In [218]:
comNormal.pv.sum()/(365*24)

PV    0.175323
dtype: float64

In [ ]:
comNormal.df_out

In [221]:
comNormal.df_com

     0
0    9
1   15
2   64
3   28
4   29
5    8
6   73
7    0
8   40
9   36
10  16
11  11

In [224]:
comNormal.df_out.loc[:,(comNormal.df_com.loc[:,0])].sum().sum()

56630.83353333331

In [171]:
PV_total=comNormal.df_out.loc[:,(comNormal.selection['name'])].sum().sum()*PtC/comNormal.pv.sum()

In [172]:
PV_total

PV    36.87308
dtype: float64

In [173]:
(289.87*comNormal.pv).sum()

PV    445191.442042
dtype: float64

In [174]:
sel_pv_size=comNormal.pv_dist.round(1).sample(n=comNormal.community_size,
                                  random_state=comNormal.seed)

In [175]:
new_sel=sel_pv_size[sel_pv_size.cumsum()<=PV_total].fillna(0)

In [176]:
sum_pv=new_sel.sum()

In [177]:
new_sel.loc[new_sel[new_sel.PV==0].sample(n=1).index]=(PV_total-sum_pv).values[0]

In [178]:
new_sel.sum()

PV    36.87308
dtype: float64

In [179]:
comNormal.selection

,PV_size,name,sub_100_100,sub_100_75,sub_100_50,sub_100_25,sub_100_0,sub_75_100,sub_75_75,sub_75_50,...,sub_50_100,sub_50_75,sub_50_50,sub_50_25,sub_50_0,sub_25_100,sub_25_75,sub_25_50,sub_25_25,sub_25_0
0,5.2,9,True,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,9.0,15,True,True,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
2,5.0,64,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,6.0,28,True,True,False,False,False,True,False,True,...,True,True,False,False,False,False,False,False,False,False
4,9.2,29,True,False,True,True,False,True,True,False,...,False,False,False,False,False,True,True,False,False,False
5,4.8,8,True,True,False,False,False,True,True,True,...,True,False,False,False,False,False,False,False,False,False
6,9.2,73,True,False,False,False,False,False,False,False,...,True,False,False,False,False,True,True,True,False,False
7,7.1,0,True,True,True,False,False,True,True,False,...,True,True,True,True,False,False,False,False,False,False
8,8.9,40,True,True,True,False,False,True,True,True,...,True,True,True,False,False,False,False,False,False,False
9,2.0,36,True,False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
10,3.7,16,True,True,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
11,7.0,11,True,True,True,True,False,False,False,False,...,True,True,True,False,False,False,False,False,False,False

In [ ]:
comNormal.selection=pd.concat([comNormal.pv_dist.round(1).sample(n=comNormal.community_size,
                                      random_state=comNormal.seed).reset_index(drop=True),
                                      comNormal.df_com],axis=1) # select sizes of PV

In [180]:
comNormal.selection2=pd.concat([new_sel.reset_index(drop=True),comNormal.df_com],axis=1)

In [181]:
comNormal.selection2.columns=['PV_size','name']

In [182]:
comNormal.selection2[comNormal.selection2.PV_size>0]

   PV_size name
0  5.20000    9
1  9.00000   15
2  5.00000   64
3  6.00000   28
4  9.20000   29
5  2.47308    8

In [ ]:
int(comNormal.batt_penetration/100*comNormal.community_size/2)

In [ ]:
comNormal.batt_penetration

In [195]:
comNormal.selection2['battery']=False

In [211]:
aux=comNormal.selection2[comNormal.selection.PV_size>0].sample(n=int(comNormal.batt_penetration/100*comNormal.community_size/2)).index

In [214]:
comNormal.selection2.loc[aux,'battery']=True

In [215]:
comNormal.selection2

    PV_size name  battery
0   5.20000    9    False
1   9.00000   15    False
2   5.00000   64     True
3   6.00000   28    False
4   9.20000   29    False
5   2.47308    8    False
6   0.00000   73    False
7   0.00000    0    False
8   0.00000   40    False
9   0.00000   36     True
10  0.00000   16    False
11  0.00000   11     True

In [ ]:
self.selection.loc[:,'']

In [ ]:
comNormal.selection.columns=['PV_size','name']
self.list_pv_penetration=[100,75,50,25]# %
self.list_batt_penetration=[100,75,50,25,0]# %
self.list_product=list(product(self.list_pv_penetration,self.list_batt_penetration))
# Here I match hh profile with different PV sizes and the selection of hh with PV
# and PV and battery inside the community depending on PV and battery penetration
# Seed makes the simulations reproducible
self.selection=p2p.flag_selection(self.selection,self.list_product,
                                  self.list_pv_penetration,self.list_batt_penetration,
                                  self.community_size,self.seed)

In [99]:
sel_pv_size.loc[sel_pv_size.cumsum().sub(PV_total).abs().idxmin()]

         PV
566422  9.2

In [94]:
sel_pv_size.cumsum().sub(PV_total).abs().idxmin()

PV    566422
dtype: int64

In [85]:
sel_pv_size.cumsum()<PV_total*1.2

           PV
769251   True
266414   True
410233   True
117631   True
566422   True
449002  False
602254  False
562817  False
647408  False
80913   False

In [40]:
get_pv.get_pv_ditribution(self.country_code,mean=4,seed=self.seed)

NameError: name 'self' is not defined