In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys  
import os
from itertools import cycle,product
import import_ipynb
import datetime as dt
import warnings
warnings.filterwarnings('error')
%load_ext autoreload
%autoreload 2
import P2P_functions as p2p
import Classes_definition as cp2p
import copy
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [4]:
df1=pd.read_csv('df_50_50_DE_0.25_100_cuts.csv',index_col=0)

In [6]:
df1.keys()

Index(['index', 'SCR', 'SSR', 'EFC', 'Demand_peak', 'Inj_peak', 'avg_dod',
       'Total_load', 'TotalPV', 'bill', 'Imported', 'Exported', 'Batt_revenue',
       'Batt_penetration', 'PV_penetration', 'seed', 'hh', 'EPARI', 'ADMD',
       'ADME', 'EBI', 'Comm', 'jains', 'gini', 'PI', 'daily_peak_lower',
       'SCR_hh', 'SSR_hh', 'EFC_hh', 'Demand_peak_hh', 'Inj_peak_hh',
       'avg_dod_hh', 'bill_hh', 'Imported_hh', 'Exported_hh',
       'Batt_revenue_hh'],
      dtype='object')

In [7]:
df1.head()

,index,SCR,SSR,EFC,Demand_peak,Inj_peak,avg_dod,Total_load,TotalPV,bill,...,SCR_hh,SSR_hh,EFC_hh,Demand_peak_hh,Inj_peak_hh,avg_dod_hh,bill_hh,Imported_hh,Exported_hh,Batt_revenue_hh
0,No,51.161976,51.020219,NaN,151.963,235.123847,NaN,445550.533983,444316.018156,60239.722009,...,0.000000,0.000000,0.000000,6.546173,0.000000,0.000000,990.350979,4419.411112,0.000000,0.000000
1,PV,51.161976,51.020219,NaN,151.963,235.123847,NaN,445550.533983,444316.018156,60239.722009,...,23.526474,37.170256,0.000000,6.849208,5.127024,0.000000,422.072364,2777.709788,6622.180670,0.000000
2,PV_batt,51.161976,51.020219,NaN,151.963,235.123847,NaN,445550.533983,444316.018156,60239.722009,...,30.823961,55.468745,291.235361,5.743428,5.809514,0.797905,6.814558,2067.350874,6168.001851,346.510751
3,No,47.908610,47.775866,NaN,150.758,238.261045,NaN,445550.533983,444316.018156,75876.655090,...,0.000000,0.000000,0.000000,6.546173,0.000000,0.000000,1237.435111,4419.411112,0.000000,0.000000
4,PV,47.908610,47.775866,NaN,150.758,238.261045,NaN,445550.533983,444316.018156,75876.655090,...,23.526474,37.170256,0.000000,6.849208,5.127024,0.000000,512.871514,2777.709788,6622.180670,0.000000

In [8]:
df1.shape

(90, 36)

In [ ]:
15*

In [16]:
df1.groupby(['index','seed','Comm']).count().loc[:,['SCR','SSR']]

                   SCR  SSR
index   seed Comm
No      0    P2P     1    1
             SC      1    1
        1    P2P     1    1
             SC      1    1
        2    P2P     1    1
             SC      1    1
        3    P2P     1    1
             SC      1    1
        4    P2P     1    1
             SC      1    1
        5    P2P     1    1
             SC      1    1
        6    P2P     1    1
             SC      1    1
        7    P2P     1    1
             SC      1    1
        8    P2P     1    1
             SC      1    1
        9    P2P     1    1
             SC      1    1
        10   P2P     1    1
             SC      1    1
        11   P2P     1    1
             SC      1    1
        12   P2P     1    1
             SC      1    1
        13   P2P     1    1
             SC      1    1
        14   P2P     1    1
             SC      1    1
...                ...  ...
PV_batt 0    P2P     1    1
             SC      1    1
        1    P2P     1    1
             SC      1    1
        2    P2P     1    1
             SC      1    1
        3    P2P     1    1
             SC      1    1
        4    P2P     1    1
             SC      1    1
        5    P2P     1    1
             SC      1    1
        6    P2P     1    1
             SC      1    1
        7    P2P     1    1
             SC      1    1
        8    P2P     1    1
             SC      1    1
        9    P2P     1    1
             SC      1    1
        10   P2P     1    1
             SC      1    1
        11   P2P     1    1
             SC      1    1
        12   P2P     1    1
             SC      1    1
        13   P2P     1    1
             SC      1    1
        14   P2P     1    1
             SC      1    1

[90 rows x 2 columns]